main.pdf
main.idx
main.log
main.aux
abc.outut
main.toc
main.out
main.idx
main.ilg
texput.log
shEsc.tmp
main.vrb
main.snm
main.nav
abc.output
main.py*
aaaaa.txt
*.pyc
latex.py
stderr.txt
stdout.txt
auto/
tmp/
